# Social Projects Funding with Deep Learning

In [16]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
import warnings
warnings.filterwarnings("ignore")

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. 

Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [17]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame

df = pd.read_csv('Resources/applicants_data.csv')

# Review the DataFrame
df.head(25)

,AIN,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,10573059,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,10575727,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,10583569,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,10585206,T3,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,10585443,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,10596727,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,10602428,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,10603214,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,10604986,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,10605038,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,10608689,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,10612407,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,10614724,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,318296,0
23,10622557,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,10623527,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0

In [18]:
# Review the data types associated with the columns
df.dtypes

AIN                        int64
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “AIN” (Applicant Identification Number) from the DataFrame, because it is not relevant to the binary classification model.

In [19]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
df=df.drop(columns=['AIN'])

# Review the DataFrame
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables. 

Use `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [20]:
df['CLASSIFICATION'].unique()

array(['C1000', 'C2000', 'C3000', 'C1200', 'C2700', 'C7000', 'C7200',
       'C1700', 'C4000', 'C7100', 'C2800', 'C6000', 'C2100', 'C1238',
       'C5000', 'C7120', 'C1800', 'C4100', 'C1400', 'C1270', 'C2300',
       'C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240',
       'C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235',
       'C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278',
       'C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283',
       'C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256',
       'C1236', 'C1234', 'C1246', 'C2190', 'C4200', 'C0', 'C3200',
       'C5200', 'C1370', 'C2600', 'C1248', 'C6100', 'C1820', 'C1900',
       'C2150'], dtype=object)

In [21]:
# Create a list of categorical variables 
list(df.dtypes[df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables = list(df.dtypes[df.dtypes == "object"].index)
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [25]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [26]:
# Encode the categorical variables using OneHotEncoder
encoded_data = enc.fit_transform(df[categorical_variables])

In [27]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [28]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_df = df.drop(columns = categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [33]:
attition_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)
attition_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets.

The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [62]:
# Define the target set y using the IS_SUCCESSFUL column
y = attition_df['IS_SUCCESSFUL']

# Display a sample of y
y[:10]

0    1
1    1
2    0
3    1
4    1
5    1
6    1
7    1
8    1
9    0
Name: IS_SUCCESSFUL, dtype: int64

In [63]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = attition_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [64]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 0

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [65]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X = scaler.fit_transform(X)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [66]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [67]:
# Define the number of neurons in the output layer
number_classes = 1
neuron = Sequential()
neuron.add(Dense(units=number_classes, activation="sigmoid"))

In [68]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [69]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [70]:
# *Create the Sequential model instance
nn = Sequential()

In [71]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [72]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [73]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [74]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 58)                6786

 dense_6 (Dense)             (None, 29)                1711

 dense_7 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [75]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [76]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 21680.8066 - accuracy: 0.5024
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 25476.1133 - accuracy: 0.4935
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 18367.6992 - accuracy: 0.4861
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 19221.3945 - accuracy: 0.4884
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 15288.7490 - accuracy: 0.4858
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 7957.6709 - accuracy: 0.4998
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 4272.2935 - accuracy: 0.4949
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 6148.1846 - accuracy: 0.5023
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 3676.3291 - accuracy: 0.5040
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 1755.3184 - accuracy: 0.5165
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 4683.2251 - accuracy: 0.5073
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 2362.3428 - accuracy: 0.5009
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 2570.5967 - accuracy: 0.5007
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 2033.9170 - accuracy: 0.4995
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 1210.8838 - accuracy: 0.5111
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 2051.3005 - accuracy: 0.5046
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 2369.1958 - accuracy: 0.4963
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 886.0010 - accuracy: 0.5367
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 1541.6600 - accuracy: 0.4998
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 316.3217 - accuracy: 0.5133
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 31.1899 - accuracy: 0.5850
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6269 - accuracy: 0.6636
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6219 - accuracy: 0.6696
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6201 - accuracy: 0.6705
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6192 - accuracy: 0.6710
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6187 - accuracy: 0.6714
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6180 - accuracy: 0.6723
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6176 - accuracy: 0.6729
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6168 - accuracy: 0.6744
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6431 - accuracy: 0.6435
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5347
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6908 - accuracy: 0.5347
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5347

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [77]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
#model_loss, model_accuracy = nn_model.evaluate(X_test,y_test,verbose=2)
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
# Display the model loss and accuracy results

print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6921 - accuracy: 0.5256 - 366ms/epoch - 1ms/step
Loss: 0.6920806169509888, Accuracy: 0.5255976915359497

### Step 4: Save and export your model to an HDF5 file, and name the file `NNSocialGood.h5`.

In [78]:
# Set the model's file path
file_path = Path("Resources/NNSocialGood.h5")

# Export your model to a HDF5 file
nn.save(file_path)